* {
  font-family: 'Roboto Mono', monospace;
}

body {	
  margin: 0;	
  padding: 0;	
}	

.page {	
  margin: 1% 10%;	
  padding: 0.5% 2%;	
  /* border: solid; */	
}	

@media screen and (max-width: 600px) {	
  .page {	
    margin: 0px;	
  }	
}	

h2 {	
  text-align: center;	
  font-size: 40px;	
  color: green;	
}	

h3 {	
  font-size: 2em;	
  color: green;	
  border-bottom: 2px solid green;	
  border-top-left-radius: 5px;	
  border-top-right-radius: 5px;	
  margin-bottom: 0px;	
  font-family: Helvetica, sans-serif;	
}	

.panel {	
  border-top-left-radius: 5px;	
  border-top-right-radius: 5px;	
  border-bottom-left-radius: 5px;	
  border-bottom-right-radius: 5px;	
  box-shadow: 3px 3px 7px grey;	
  padding: 5px;	
  margin: 10px;	
}	

.panelHead {	
  padding-left: 15px;	
  margin: 0;	
}	

.panelBody {	
  /* margin-top: 0px;	
  padding-bottom: 0px; */	
  border-bottom-left-radius: 5px;	
  border-bottom-right-radius: 5px;	
  font-family: Helvetica, sans-serif;	
}	

.panel:hover {	
  transition-delay: 0s;	
  transition-duration: 0.3s;	
  box-shadow: 5px 5px 20px black;	
  -moz-box-shadow: 5px 5px 20px black;	
  -webkit-box-shadow: 5px 5px 20px black;	
  -o-box-shadow: 5px 5px 20px black;	
}	

.centerImage {	
  display: block;	
  margin-left: auto;	
  margin-right: auto;	
  border-radius: 50%;	
  box-shadow: 5px 5px 20px grey;	
}


/* ----------- Scroll to Top button code */

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 80px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}