body {
  margin: 0;
  padding: 0;
}

.page {
  margin: 1% 10%;
  padding: 0.5% 2%;
  /* border: solid; */
}

h2 {
  text-align: center;
  font-size: 40px;
  color: green;
}

h3 {
  font-size: 2em;
  color: green;
  border-bottom: 2px solid green;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0px;
  font-family: Helvetica, sans-serif;
}

.panel {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 3px 3px 7px grey;
  padding: 5px;
  margin: 10px;
}

.panelHead {
  padding-left: 15px;
  margin: 0;
}

.panelBody {
  /* margin-top: 0px;
  padding-bottom: 0px; */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: Helvetica, sans-serif;
}

.panel:hover {
  transition-delay: 0s;
  transition-duration: 0.3s;
  box-shadow: 5px 5px 20px black;
  -moz-box-shadow: 5px 5px 20px black;
  -webkit-box-shadow: 5px 5px 20px black;
  -o-box-shadow: 5px 5px 20px black;
}

.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-shadow: 5px 5px 20px grey;
}

